<div class="col-md-12 col-sm-12">
  <h1>MC美江影音專區</h1>
  <p>作者及改編自作品請點擊影片看詳細資訊, 本站不一一介紹.</p>
  <hr>
  <% if current_user.present? && current_user.admin? %>
  <%= link_to("New", new_video_path, :class => "btn btn-info") %>
  <% end %>
</div>
<div class="col-md-12 col-sm-12 song">
  <%= will_paginate @videos, renderer: BootstrapPagination::Rails,:previous_label => fa_icon("arrow-left"), :next_label => fa_icon("arrow-right") %>
</div>
<% @videos.each do |video| %>
<div class="col-md-12 col-sm-12 song">
  <% if current_user.present? && current_user.admin? %>
  <%= link_to("EDIT", edit_video_path(video), :target => :blank, :class => "btn btn-warning") %>
  <% end %>
  <%= video.iframe_code.html_safe %>
</div>
<% end %>
<div class="col-md-12 col-sm-12">
  <%= will_paginate @videos, renderer: BootstrapPagination::Rails,:previous_label => fa_icon("arrow-left"), :next_label => fa_icon("arrow-right") %>
</div>

<%= content_for :javascripts do %>
<script type="text/javascript">
// By Chris Coyier & tweaked by Mathias Bynens

$(function() {

  // Find all YouTube videos
  var $allVideos = $("iframe[src^='//www.youtube.com']"),

      // The element that is fluid width
      $fluidEl = $(".song");

  // Figure out and save aspect ratio for each video
  $allVideos.each(function() {

    $(this)
      .data('aspectRatio', this.height / this.width)
      
      // and remove the hard coded width/height
      .removeAttr('height')
      .removeAttr('width');

  });

  // When the window is resized
  // (You'll probably want to debounce this)
  $(window).resize(function() {

    var newWidth = $fluidEl.width();
    
    // Resize all videos according to their own aspect ratio
    $allVideos.each(function() {

      var $el = $(this);
      $el
        .width(newWidth)
        .height(newWidth * $el.data('aspectRatio'));

    });

  // Kick off one resize to fix all videos on page load
  }).resize();

});
</script>
<% end %>