<div class="col-md-12 col-sm-12">
  <h1>MC美江圖文創作</h1>
</div>
<div class="col-md-12 col-sm-12">
  <h2>MC美江首張個人專輯 - 黑膠版</h2>
  <p>by Ternence Chen</p>
  <%= image_tag("/album.jpg", :width => "100%") %>
</div>
<div class="col-md-12 col-sm-12">
  <h2>神魔美江</h2>
  <p>人設:Haw Wang / 研發:Ting-Hao Lin</p>
  <%= image_tag("/mj01.jpg", :width => "33%") %>
  <%= image_tag("/mj02.jpg", :width => "33%") %>
  <%= image_tag("/mj03.jpg", :width => "33%") %>
</div>
<div class="col-md-12 col-sm-12">
  <h2>MC美江同名大碟</h2>
  <p>點圖有載點, 感謝大大無私分享XD</p>
  <p>作者 <%= link_to("許泰文", "https://www.facebook.com/photo.php?fbid=241417456034888&set=a.107546112755357.12997.100004999051600&type=1&theater", :target => :blank) %></p>
  <%= link_to("https://mega.co.nz/#!N0B0iDYL!CATD0SVvqRRSBAm_xRXvIFjGA7gpfm_TTL9SnO6pCfY", :target => :blank) do %>
  <%= image_tag("/new_album.jpg", :width => "100%") %>
  <% end %>
</div>
<div class="col-md-12 col-sm-12">
  <h2>MC美江 五倍鑽石</h2>
  <p>作者 <%= link_to("Benjamin Lai", "https://www.facebook.com/photo.php?fbid=3695708446876&set=a.1054325213946.7418.1700306229&type=1&relevant_count=1", :target => :blank) %></p>
  <%= link_to("https://www.facebook.com/photo.php?fbid=3695708446876&set=a.1054325213946.7418.1700306229&type=1&relevant_count=1", :target => :blank) do %>
  <%= image_tag("/5diamonds.png", :width => "100%") %>
  <% end %>
</div>
<div class="col-md-12 col-sm-12 ">
  <h2>MC美江第一波主視覺</h2>
  <p>作者 <%= link_to("許泰文", "https://www.facebook.com/photo.php?fbid=241069842736316&set=a.107546112755357.12997.100004999051600&type=1&permPage=1", :target => :blank) %></p>
  <%= link_to("https://www.facebook.com/photo.php?fbid=241069842736316&set=a.107546112755357.12997.100004999051600&type=1&permPage=1", :target => :blank) do %>
   <%= image_tag("/welcome.jpg", :width => "100%") %>
  <% end %>
</div>