<div class="col-md-12 col-sm-12">
  <h1>MC美江福音(? 創作</h1>
</div>
<div class="col-md-12 col-sm-12">
  <h2>1. <%= link_to("網羅", "http://khush.smule.com/autorap_52a87ad421540&v2", :target => :blank) %></h2>
</div>
<div class="col-md-12 col-sm-12">
  <h2>2. <%= link_to("舞曲大帝國", "http://picosong.com/kYr6/", :target => :blank) %></h2>
</div>
<div class="com-md-12 col-sm-12">
  <h2>3. <%= link_to("第四點很痛", "https://soundcloud.com/kassso-benben/mc-two-men-on-a-trip-mashup", :target => :blank) %></h2>
</div>
<div class="com-md-12 col-sm-12">
  <h2>4. <%= link_to("接觸過同性戀請舉手", "https://soundcloud.com/hauer-hsieh/dj-hauer-feat-mcmj", :target => :blank) %></h2>
</div>
<div class="com-md-12 col-sm-12">
  <h2>5. <%= link_to("鑽石扭臀舞", "https://soundcloud.com/eros-wu/xko1we8hfvwy", :target => :blank) %></h2>
</div>
<div class="com-md-12 col-sm-12">
  <h2>5. <%= link_to("《燒燬》跳針宣告（雲霧加長Club版）", "https://soundcloud.com/dj-matthew-1/mc-club", :target => :blank) %></h2>
</div>